
<section id="bio" class="section is-primary">
  <div class="container">
    <div class="row cadre">
      <div class="col-12 text-center">
        <h1 class="title">Contactez-moi</h1>
      </div>
      <div class="col-12 text-center">
        <h2 class="subtitle">Blablab bla blablabla bla blabla</h2>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row text-center">
      <div class="col-12">
        <h1>Blablab bla blablabla bla blabla</h1>
      </div>
      <div class="col-12 mt-3">
        <h2 class="subtitle">Blablab bla blablabla bla blabla
          Blablab bla blablabla bla blabla Blablab bla blablabla bla blabla
          Blablab bla blablabla bla blablaBlablab bla blablabla bla blabla
          Blablab bla blablabla bla blabla Blablab bla blablabla bla blabla
          Blablab bla blablabla bla blabla.</h2>
      </div>
    </div>
  </div>
</section>
