h1 {
  font-size: 50px;
}


.picture {
  background-image: url('../../../../assets/headerImg.jpg');
  background-position: 0px -233px;;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.site-blocks-cover.overlay:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}

.site-blocks-cover, .site-blocks-cover .row {
  min-height: 600px;
  height: calc(94vh);
}
