.subtitle {
  font-family: "europa", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  word-break: break-word;
  font-size: 22px;

  margin-top: 35px;
}

.title {
  font-weight: 800;
  color: #141c3a;
  line-height: 1.125;
  word-break: break-word;
}

.imgNicolasProfil {
  margin-top: 39px;
  width: 210px;
}

.imgIllustrationHeader {
  width: 100%;
}
