<div class="container">

  <div class="row">
    <div class="col-12 text-center">
      <h1 class="title">Nicolas DUBOURG</h1>
    </div>
    <div class="col-12 text-center">
      <img class="imgNicolasProfil" src="../../../../assets/NicolasProfil.png" alt="">
    </div>
    <div class="col-12 text-center">
      <h2 class="subtitle">En recherche de challenge et d’enrichissement dans le développement web</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <img class="imgIllustrationHeader" src="../../../../assets/illustrationHeader.png" alt="">
    </div>
  </div>
</div>
