.section.skills {
  margin-top: -14rem;
  padding-bottom: 1rem;
}
.section {
  padding: 5rem 1.5rem;
}

.container.is-narrow {
  max-width: 1200px;
}

.section.skills .box {
  padding: 0;
}
.box {
  border-radius: 12px;
}
.box {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
  color: #141c3a;
  display: block;
  padding: 1.25rem;
}

.image {
  display: block;
  position: relative;
}

.content h1:not(:first-child) {
    margin-top: 1em;
}
.box:not(:last-child), .content:not(:last-child), .notification:not(:last-child), .progress:not(:last-child), .table:not(:last-child), .table-container:not(:last-child), .title:not(:last-child), .subtitle:not(:last-child), .block:not(:last-child), .highlight:not(:last-child), .breadcrumb:not(:last-child), .level:not(:last-child), .list:not(:last-child), .message:not(:last-child), .pagination:not(:last-child), .tabs:not(:last-child) {
    margin-bottom: 1.5rem;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-family: "eurostile", sans-serif;
    font-weight: 800;
    color: #141c3a;
}
.content h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: #363636;
    font-weight: 600;
    line-height: 1.125;
}
.title {
    color: #141c3a;
    font-weight: 800;
}
.title {
    color: #363636;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.125;
}
.title, .subtitle {
    word-break: break-word;
}
.is-size-4 {
    font-size: 1.5rem !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "eurostile", sans-serif;
    font-weight: 800;
}

.has-text-weight-normal {
  font-weight: 600 !important;
}
.has-text-primary {
  color: #7510F7 !important;
}

.section.skills .box .content .row .col-4 p.list-title {
  margin-top: 50px;
  margin-bottom: 8px;
}

.section.skills .box .content .row .col-4 ul {
  list-style: none;
  margin-left: 0;
  margin-top: 0;
  padding-left: 0;
}

.fas.is-purple {
  color: #7510F7;
}

.far.is-purple {
  color: #7510F7;
}
