<section id="bio" class="section is-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h1>Salut ! Je suis Nicolas. Bienvenu !</h1>
      </div>
      <div class="col-12 mt-3">
        <h2 class="subtitle">Actuellement co-gérant de WebTempo (SARL créatrice d’application et site internet
          sur-mesure). Je suis à la recherche d’un poste de développeur web, j’aimerais me
          concentrer pleinement dans le développement. Grâce à mon parcours de vie, j’ai pu
          acquérir beaucoup de compétences diverses qui seront bénéfiques pour vous et vos
          clients.</h2>
      </div>
    </div>
  </div>
</section>
